<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="Cnxn" value="Server=localhost\SQLExpress;Database=PinkTech; Integrated Security=sspi;"/>
    <add key="CnxnSql" value="Server=localhost\SQLExpress;Database=PinkTech; uid=username password=password"/>
    <add key="LogPath" value="C:/PinkTechInc/CompanyWebsite/PinkTechInc"/>
  </appSettings>
</configuration>